@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Umbraco.Community.Drafts Test Site</title>
</head>
<body>
    <h1>Umbraco.Community.Drafts Test Site</h1>
    <p>Visit <a href="/umbraco">/umbraco</a> to access the backoffice.</p>
</body>
</html>
